{{> header}}

<h1>Current flow graph</h1>

<div id="flow-graph"></div>

<script type="text/javascript">
  let socket = new WebSocket("ws://" + window.location.host + "/api/schedule/graph/");
  socket.onopen = function (e) {
  };

  socket.onmessage = function (event) {
    window.data = event.data
    plotNetwork(event.data)
  };

  socket.onclose = function (event) {
    if (event.wasClean) {
      alert(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
    } else {
      // e.g. server process killed or network down
      // event.code is usually 1006 in this case
      alert('[close] Connection died');
    }
  };

  socket.onerror = function (error) {
    alert(`[error] ${error.message}`);
  };

  function plotNetwork(dotstring) {
    // create a network
    let container = document.getElementById('flow-graph');
    let options = {
      layout: {
      },
      edges: {
        smooth: true,
        arrows: { to: true }
      },
      physics: {
        barnesHut: {
          springConstant: 0.07,
          gravitationalConstant: -50000
        }
      }
    };
    let parsedData = vis.network.convertDot(dotstring);
    let data = {
      nodes: parsedData.nodes,
      edges: parsedData.edges
    };
    let network = new vis.Network(container, data, options);
  }
</script>

{{> footer }}